In [1]:
import requests 
import numpy as np
import pandas as pd
import xarray as xr
from datetime import datetime

import pyextremes as pyext
from pyextremes.plotting import plot_extremes

import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
import lmoments3 as lm
from lmoments3 import distr

In [3]:
ds = xr.open_dataset("./data/pr_Amon_NorESM1-M_historical_r1i1p1_185001-200512.nc")
print(ds)

<xarray.Dataset>
Dimensions:    (time: 1872, bnds: 2, lat: 96, lon: 144)
Coordinates:
  * time       (time) object 1850-01-16 12:00:00 ... 2005-12-16 12:00:00
  * lat        (lat) float64 -90.0 -88.11 -86.21 -84.32 ... 86.21 88.11 90.0
  * lon        (lon) float64 0.0 2.5 5.0 7.5 10.0 ... 350.0 352.5 355.0 357.5
Dimensions without coordinates: bnds
Data variables:
    time_bnds  (time, bnds) object ...
    lat_bnds   (lat, bnds) float64 ...
    lon_bnds   (lon, bnds) float64 ...
    pr         (time, lat, lon) float32 ...
Attributes: (12/26)
    institution:            Norwegian Climate Centre
    institute_id:           NCC
    experiment_id:          historical
    source:                 NorESM1-M 2011  atmosphere: CAM-Oslo (CAM4-Oslo-n...
    model_id:               NorESM1-M
    forcing:                GHG, SA, Oz, Sl, Vl, BC, OC
    ...                     ...
    table_id:               Table Amon (27 April 2011) a5a1c518f52ae340313ba0...
    title:                  NorESM1-M model output prepared for CMIP5 historical
    parent_experiment:      pre-industrial control
    modeling_realm:         atmos
    realization:            1
    cmor_version:           2.6.0

In [4]:
# converting precipitation to m/day units

ds["pr"].data = ds["pr"].data * 86.4
ds["pr"].attrs["units"] = 'm/day'

In [5]:
# setting defined location
# coordinates for berkeley, california

lat = 37.87
lon = 122.27

In [6]:
# getting dataset specifically for defined location

ds_berk = ds.sel(lon=lon, lat=lat, method='nearest')

In [7]:
# converting to timeseries

series = ds_berk['pr'].to_pandas()
df = pd.DataFrame({'time':series.index, 'pr':series.values})

In [8]:
df

                     time        pr
0     1850-01-16 12:00:00  0.000177
1     1850-02-15 00:00:00  0.000602
2     1850-03-16 12:00:00  0.001685
3     1850-04-16 00:00:00  0.000859
4     1850-05-16 12:00:00  0.001908
...                   ...       ...
1867  2005-08-16 12:00:00  0.002018
1868  2005-09-16 00:00:00  0.001186
1869  2005-10-16 12:00:00  0.000800
1870  2005-11-16 00:00:00  0.000338
1871  2005-12-16 12:00:00  0.000643

[1872 rows x 2 columns]

In [9]:
df_max = df.groupby("time")['pr'].max()
df_max

time
1850-01-16 12:00:00    0.000177
1850-02-15 00:00:00    0.000602
1850-03-16 12:00:00    0.001685
1850-04-16 00:00:00    0.000859
1850-05-16 12:00:00    0.001908
                         ...
2005-08-16 12:00:00    0.002018
2005-09-16 00:00:00    0.001186
2005-10-16 12:00:00    0.000800
2005-11-16 00:00:00    0.000338
2005-12-16 12:00:00    0.000643
Name: pr, Length: 1872, dtype: float32

In [13]:
lm_params = lm.lmom_ratios(df_max, 5)

[0.0021217845675321643,
 0.0010196059610875323,
 0.2690868716808821,
 0.09894801227927753,
 0.06565812694739435]

In [17]:
paras = distr.gev.lmom_fit(df_max)

In [21]:
fitted_gev = distr.gev(**paras)

In [26]:
1-fitted_gev.cdf(0.00007)

0.9243327933011254

AttributeError: module 'lmoments3' has no attribute 'cdfgev'